.jui.checkbox.input.expand, .jui.checkbox.input.selection  {
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0);
    padding: 10px 0px;
    cursor: default;
    overflow: hidden;
}



.jui.tree .jui.input:focus {

    -webkit-box-shadow: none;
}

.jui.tree .jui.checkbox .jui.icon {
    fill: #2C92C1;
}

 .jui.tree li {
            list-style: none;
}

.jui.tree{
	
	border: none;
}