.jui.checkbox.input.expand, .jui.checkbox.input.selection  {
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0);
    padding: 10px 0px;
    cursor: default;
    overflow: hidden;
}


.jui.input {
	
	border-color: none;
}
.jui.input:focus {

    -webkit-box-shadow: none;
}

.jui.checkbox .jui.icon, .jui.checkbox.checked {
    fill: #2C92C1;
}